<div class="container mt-5" style="width: 60%; padding-bottom: 100px;">
    <% if (typeof errors != 'undefined') { %>
        <div class="alert alert-danger" role="alert">
            <ul>
                <% errors.forEach(error => { %>
                    <li><%= error.msg %></li>
                <% }) %>
            </ul>
        </div>
    <% } else if (msg.length !== 0) { %>
        <div class="alert alert-success mt-3" role="alert">
            <%= msg %>
        </div>
    <% } %>

    <form method="post" action="/siswa">
        <div class="mb-3">
            <label for="nama" class="form-label"></label>
            <input type="text" placeholder="Masukkan Nama Anda" class="form-control" name="nama" style="background: none; border: none; border-bottom: 0.8px solid black;" required/>
        </div>
        <div class="mb-3">
            <label for="nis" class="form-label"></label>
            <input type="text" placeholder="Masukkan Nis Kamu" class="form-control" name="nis" style="background: none; border: none; border-bottom: 0.8px solid black;" required/>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label"></label>
            <input type="email" placeholder="Masukkan Email Kamu" class="form-control" name="email" style="background: none; border: none; border-bottom: 0.8px solid black;" required/>
        </div>
        <div class="mb-4">
            <label for="nowa" class="form-label"></label>
            <input type="text" placeholder="Masukkan no Whatsapp Kamu" class="form-control" name="nowa" style="background: none; border: none; border-bottom: 0.8px solid black;" required/>
        </div>
        <div class="mb-4">
            <label for="jurusan" class="form-label">Pilih Jurusan</label>
            <select id="list" name="jurusan">
                <option >Rpl</option>
                <option >Tkj</option>
                <option >MM</option>
                <option >Otomotif</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>