<div class="mt-5 pb-5">
    <h2 class="fw-bold text-center">Kenapa Harus <span style="color:rgb(94, 94, 255)">SMK NUSANTARA</span> ?</h2>

    <div class="row mt-5 gap-2">
        <div class="col-lg-3 text-center m-auto" style="height: 50px;">
            <h5 class="mt-4 fw-bold">Kerjasama Luas</h5>
            <p class="mt-3" style="font-size: 14px; opacity: 0.8;">Memperbesar kesempatan bekerja</p>
        </div>

        <div class="col-lg-3 text-center m-auto" style="height: 50px;">
            <h5 class="mt-4 fw-bold">Lingkungan Nyaman</h5>
            <p class="mt-3" style="font-size: 14px; opacity: 0.8;">Lingkungan yang asri dan kondusif</p>
        </div>

        <div class="col-lg-3 text-center m-auto" style="height: 50px;">
            <h5 class="mt-4 fw-bold">Fasilitas Lengkap</h5>
            <p class="mt-3" style="font-size: 14px; opacity: 0.8;">Penunjang belajar dengan kualitas premium</p>
        </div>
    </div>

    <div class="row p-5 pb-1 rounded" style="margin-top: 180px; background-color: rgb(94, 94, 255); color: white; font-size: 14px;">
        <div class="col-lg-6">
            <p style="opacity: 0.9;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam, purus at posuere fermentum, arcu risus tincidunt felis, sit amet laoreet libero velit a diam. Integer lacinia, tortor et dictum consectetur, risus mauris maximus nibh, sed eleifend turpis mi vitae elit. Sed dictum enim urna.</p>
        </div>

        <div class="col-lg-6">
            <p style="opacity: 0.9;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam, purus at posuere fermentum, arcu risus tincidunt felis, sit amet laoreet libero velit a diam. Integer lacinia, tortor et dictum consectetur, risus mauris maximus nibh, sed eleifend turpis mi vitae elit. Sed dictum enim urna.</p>
        </div>

        <div class="col-lg-12 mt-5 m-auto">
            <p class="text-center" style="opacity: 0.8;">FauzanHusain</p>
        </div>
    </div>
</div>