<div class="jurusan mt-5 pb-5">
    <h3 class="fw-bold text-center">Daftar <span style="color:rgb(94, 94, 255)">jurusan</span></h3>
    <p class="text-center" style="opacity: 0.8; font-size: 14px;">jurusan yang bisa anda pilih di smk nusantara</p>
    
    <div class="row mt-5 gap-3">
        <div class="col-lg-2 text-center m-auto" style="height: 50px;">
            <h5 class="mt-4 fw-bold">Rekayasa Perangkat Lunak</h5>
        </div>

        <div class="col-lg-2 text-center m-auto" style="height: 50px;">
            <h5 class="mt-4 fw-bold">Teknik Komputer Jaringan</h5>
        </div>

        <div class="col-lg-2 text-center m-auto" style="height: 50px;">
            <h5 class="mt-4 fw-bold">Multimedia</h5>
        </div>
    </div>
</div>