<nav class="container d-flex">
    <div class="logo">
        <h3 class="fw-bold">NS</h3>
    </div>

    <ul class="d-flex ms-auto gap-4">
        <a href="/">Beranda</a>
        <a href="/jurusan">Jurusan</a>
        <a href="/add">Daftar</a>
    </ul>
</nav>